
body {
    font-family: Arial, sans-serif;     
    margin: 20px;                         
}


.block-menu a {
    display: block;                       
    padding: 10px;                             
    background-color: #3498db;        
    margin: 5px 0;                      
    text-decoration: none;                
    color: white;                      
}


.inline-menu a {
    display: inline;                           
    padding: 5px;                       
    background-color: #2ecc71;         
    margin: 5px;                            
    text-decoration: none;                    
    color: white;                            
}

.inline-block-menu a {
    display: inline-block;                  
    padding: 10px 15px;                       
    background-color: #362ecc;         
    margin: 5px;                           
    text-decoration: none;                    
    color: white;                      
}


.float-menu a {
    float: left;                         
    padding: 10px 15px;                             
    background-color: #e67e22;        
    margin: 5px;                           
    text-decoration: none;                    
    color: white;                          
}

.clear {
    clear: both;                            
}